{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <title>Stock Data</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css\styles.css' %}">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Stock Market Data</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>


<div class="sidebar">
    <h4>Menu</h4>
    <ul class="list-group">
        <li class="list-group-item"><i class="fas fa-tachometer-alt"></i> Table </li>
        <li class="list-group-item"><a href="{% url 'graph_view' %}"><i class="fas fa-users"></i> Graph </a></li>
    </ul>
</div>

<div class="content">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title"><b>STOCK MARKET DATA PANEL</b></h5>
        </div>
        <div class="card-body">
            <p class="font-weight-bold">Stock Market Value Table</p>
            <div id="tableContainer" class="mt-4">
                {% include 'table.html' %}
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
