<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Date</th>
            <th>Trade Code</th>
            <th>High</th>
            <th>Low</th>
            <th>Open</th>
            <th>Close</th>
            <th>Volume</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in data %}
            <tr>
                <td>{{ entry.date }}</td>
                <td>{{ entry.trade_code }}</td>
                <td>{{ entry.high }}</td>
                <td>{{ entry.low }}</td>
                <td>{{ entry.open }}</td>
                <td>{{ entry.close }}</td>
                <td>{{ entry.volume }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
