body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #343a40;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #ffffff;
    font-weight: bold;
}

.sidebar {
    position: fixed;
    top: 56px;
    left: 0;
    bottom: 0;
    width: 250px;
    padding: 20px;
    background-color: #343a40;
    color: #ffffff;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
}

.sidebar h4 {
    color: #17a2b8;
    margin-bottom: 20px;
}

.list-group-item {
    background-color: #343a40;
    color: #ffffff;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #495057;
}

.content {
    margin-left: 250px;
    padding: 20px;
    padding-top: 5%;
}

.card {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #17a2b8;
    color: #ffffff;
    border-bottom: none;
    text-align: center;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
}